:root {
  font-size: 18px;
}
body {
  background-color: #d2e0de;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: underline dotted #62b1df 0.15em;
  color: inherit;
}
.name {
  font-size: 3em;
  font-weight: 800;
  font-family: "Urbanist", sans-serif;
  text-align: center;
}
.highlight-1 {
  color: #606edf;
  font-weight: 600;
  text-decoration: underline;
}
.highlight-2 {
  background-color: #deb360;
  font-weight: 600;
  padding: 0.1em 0.3em;
}
.font-size-1 {
  font-size: 0.9rem;
}
.font-size-2 {
  font-size: 0.95rem;
}
.font-size-3 {
  font-size: 1rem;
}
.font-size-4 {
  font-size: 1.05rem;
}
.font-size-5 {
  font-size: 1.1rem;
}
.font-size-6 {
  font-size: 1.15rem;
}

.profile-photo-section {
  float: left;
  max-width: 20%;
  margin: 0 10px;
}
#profile-photo {
  max-width: 80%;
  padding: 5%;
  background-color: #666c6c;
}

.about-me {
  height: 350px;
}

.about-me-text {
  float: right;
  max-width: 70%;
  margin: 0 10px;
}

ul {
  list-style: square;
}

.skills-list > li:nth-child(2n) {
  background-color: #bfdf55;
}
