@mixin back-shadow() {
  box-shadow: 0 0 calc(var(--spacing-unit) / 3) var(--grey-color-dark);
  border-radius: calc(var(--spacing-unit) / 3);
  padding: calc(var(--spacing-unit) / 3);
}

// https://royalfig.github.io/fluid-typography-calculator/
// https://github.com/royalfig/fluid-typography-calculator/blob/master/index.js
@mixin font-size($max, $min) {
  $maxVW: var(--content-width);
  $minVW: var(--min-content-width);
  $maxFS: var(--fs-#{$max});
  $minFS: var(--fs-#{$min});
  $deltaVW: (#{$maxVW} - #{$minVW});
  $deltaFS: (#{$maxFS} - #{$minFS});
  // Why the folllowing doesn't work???
  // $factor: #{$deltaVW} * #{$deltaFS);
  // Calculated using the values:
  // (796,932px - 348,658px) * (3,247rem - 2,887rem)
  // $factor: 161.37864;
  $factor: 100;
  $minVwFactored: (#{$minVW} / #{$factor});
  $calcRem: #{$minFS} - #{$minVwFactored};
  $calcVw: 100vw / #{$factor};

  font-size: #{$minFS};
  font-size: clamp(#{$minFS}, calc(#{$calcRem} + #{$calcVw}), #{$maxFS});
  line-height: calc(1rem + 2ex);
}
