@charset "utf-8";

// Fluid typography!
// https://css-tricks.com/simplified-fluid-typography/  

// Relative line height
// https://www.aleksandrhovhannisyan.com/blog/dont-use-a-fixed-line-height/

:root{
  --base-font-family: 'Work Sans', 'Urbanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --code-font-family: 'Menlo', 'Inconsolata', 'Consolas', 'Roboto Mono', 'Ubuntu Mono', 'Liberation Mono', 'Courier New', monospace;
  --base-font-weight: 300;
  --heading-font-weight: 500;
  
  // https://www.aleksandrhovhannisyan.com/blog/respecting-font-size-preferences-rems-62-5-percent/
  /* 10px if browser is set to 16px */
  font-size: 62.5%;
}

html {  
  --fs-h1: 4.11rem;
  --fs-h2: 3.653rem;
  --fs-h3: 3.247rem;
  --fs-h4: 2.887rem;
  --fs-h5: 2.566rem;
  --fs-h6: 2.281rem;
  --fs-xlg: 2.027rem;
  --fs-lg: 1.802rem;
  --fs-body: 1.602rem;
  --fs-md-lg: 1.424rem;
  --fs-md: 1.266rem;
  --fs-md-sm: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.889rem;
  --fs-xsm: 0.79rem;
  --fs-xxsm: 0.702rem;
}

h1 { @include font-size('h1', 'h2'); }

h2,
.site-title,
.post-list-heading { @include font-size('h2', 'h4'); }

h3 { @include font-size('h3', 'h5'); }

h4,
.post-link { @include font-size('h4', 'h6'); }

h5 { @include font-size('h5', 'xlg'); }

h6,
.footer-heading { @include font-size('h6', 'lg'); }

.post-meta { @include font-size('lg', 'md-lg'); }

small,
code,
.footer-col-wrapper { @include font-size('md-lg', 'md-sm'); }

figcaption { @include font-size('sm', 'xxsm'); }

.site-title { font-weight: 300; }

.post-title { font-family: "Urbanist", var(--base-font-family); }

body {
  @include font-size('body', 'md-lg');
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
}

h1, h2, h3, h4, h5, h6 { font-weight: var(--heading-font-weight); }

blockquote {
  @include font-size('body', 'md-lg');
  &.info {
    @include font-size('md-lg', 'md');
    &::before {
      @include font-size('h3', 'h3');
    }
  }
}

pre {
  font-family: var(--code-font-family);
  @include font-size('body', 'md');
  & > code {
    @include font-size('body', 'md')
  }
}

code{
  &.prompt {
    @include font-size('body','base');
  }
  &.code-info {
    @include font-size('h4', 'body');
  }
}

.post-figure {
  @include font-size('sm', 'xxsm');
  font-style: italic;
}