// Define defaults for each variable.
:root {
  // Width of the content area
  --content-width: min(80ch, 900px);
  --min-content-width: max(35ch, 350px);
  --spacing-unit: 40px;
}

// Import partials.
@import 'israelss/mixins', 'israelss/base', 'israelss/layout', 'israelss/typography', 'israelss/colors', 'israelss/syntax-highlighting';
