/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: sticky;
  top: 0;
  background-color: $background-color;
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.site-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: $spacing-unit;
  width: $spacing-unit;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: $brand-color-saturated;
  padding: calc(#{$spacing-unit} * 0.075);
  border-radius: 50%;
  box-shadow: 0 0 $spacing-unit/3 $grey-color-dark;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  flex:auto;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &,
  &:visited {
    color: $brand-color-saturated;
  }

  div {
    line-height: 1;
    margin-right: $spacing-unit / 4;
  }

  @include media-query($on-palm) {
    flex-direction: column;
    justify-content: space-around;
    div {
      margin: 0;
    }
  }
}

.site-nav {
  margin: 0.5em 0 0.5em 0.5em;
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .active-page {
    color: $brand-color-saturated;
  }

  @include media-query($on-palm) {
    
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: flex;
      margin-bottom: $spacing-unit/10;
      position: absolute;
      bottom: -$spacing-unit;
      left: 0;
      justify-content: center;
      background-color: $grey-color-dark;
      max-width: $content-width;
      width: 100%;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin: 0 -$spacing-unit / 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  flex: auto;
}

.footer-col-1 {
  padding-left: $spacing-unit / 2;
  text-align: left;
}

.footer-col-2 {
  padding: 0;
}

.footer-col-3 {
  padding-right: $spacing-unit / 2;
}

@include media-query($on-laptop) {
  .social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .footer-col-1,
  .footer-col-2 {
    margin-bottom: 0;
  }

  .footer-col-2 {
    padding-right: calc(#{$spacing-unit} / 2);
  }

  .footer-col-3 {
    width: 100%;
    padding: 0;
  }
}

@include media-query(460px) {
  .footer-col-1 {
    align-self: flex-end;
  }

  .footer-col-3 {
    padding-left: $spacing-unit/2;
  }

  .social-media-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@include media-query(400px) {
  .footer-heading,
  .footer-col-1 {
    text-align: center;
  }

  .footer-col-wrapper > div {
    padding: 0 $spacing-unit / 2;
  }

  .social-media-list {
    flex-direction: row;
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-content  p {
  text-align: justify;
}

.page-heading {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
  margin-bottom: $spacing-unit;
}

.home-highlights {
  display: flex;
  justify-content: space-between;

  @include media-query($on-laptop) {
    display: block;
  }
}

.home-highlight-posts,
.home-highlight-projects {
  width: 45%;
  @include media-query($on-laptop) {
    width: 100%;
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-family: "Urbanist", $base-font-family;
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include fluid-type($min-content-width, $content-width, $base-font-size* 1.4, $base-font-size);

    @include media-query($on-laptop) {
      @include fluid-type($min-content-width, $content-width, $base-font-size* 1.3, $base-font-size * 1.75);
    }
  }

  h3 {
    @include fluid-type($min-content-width, $content-width, $base-font-size * 1.2, $base-font-size * 1.625);

    @include media-query($on-laptop) {
      @include fluid-type($min-content-width, $content-width, $base-font-size * 1.1, $base-font-size * 1.375);
    }
  }

  h4 {
    @include fluid-type($min-content-width, $content-width, $base-font-size* 1.05, $base-font-size * 1.25);

    @include media-query($on-laptop) {
      @include fluid-type($min-content-width, $content-width, $base-font-size* 1.025, $base-font-size * 1.125);
    }
  }
}

.post-figure {
  text-align: center;
  font: small-caption;
  font-style: italic;
  box-shadow: 0 0 $spacing-unit/3 $grey-color-dark;
  border-radius: $spacing-unit/3;
  padding: $spacing-unit/3;
}

.project-meta {
  display: flex;
  @include media-query($on-laptop) {
    display: block;
  }
}

.project-meta > .post-meta {
  flex-grow: 1;
}

.project-featured-list {
  display: flex;
  @include media-query($on-laptop) {
    display: block;
  }
  flex-grow: 10;
}

.featured-meta {
  flex-grow: 1;
}

.featured-list {
  flex-grow: 20;
}