---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <div class="project-meta">
      {%- if page.project_repo -%}
      <div class="post-meta">
        <a
          target="_blank"
          href="https://github.com/{{ page.project_repo| escape }}"
          ><svg class="svg-icon">
            <use
              xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
            ></use>
          </svg>
          <span class="username">{{ page.project_repo | escape }}</span></a
        >
      </div>
      {%- endif -%} {% assign featured_list = page.featured_on | split: " " %}
      {%- if featured_list.size > 0 -%}
      <div class="project-featured-list">
        <div class="featured-meta post-meta">Artigos:</div>
        <div class="featured-list">
          {%- for site in featured_list -%} {% assign site_name = site | split:
          "|" | first %} {% assign site_url = site | split: "|" | last %}
          <div class="post-meta">
            <a target="_blank" href="{{ site_url }}">{{ site_name }}</a>
          </div>
          {%- endfor -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </header>
  <div class="post-content">{{ content }}</div>
  <script
    src="https://utteranc.es/client.js"
    repo="{{page.project_repo}}"
    issue-term="pathname"
    label="🔮 utterances comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async
  ></script>
</article>
